<head>
<title>{{.Title}}</title>
<meta charset="utf-8">

<!--
  -- Package all CSS files together and minify them.
  -- The page loading time should improve.
  -->
{{ $chroma := resources.Get "css/chroma.css" }}
{{ $itix := resources.Get "css/itix.css" }}
{{ $css := slice $chroma $itix | resources.Concat "css/itix.css" | resources.Minify | resources.Fingerprint "sha512" }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">

<!--
  -- Core Web Vitals / Cumulative Layout Shift.
  --
  -- Preload the fonts used on every page (body text, menu and toolbar).
  -- The monospace font is only used by code blocks: it is not preloaded.
  -->
<link rel="preload" href="/fonts/SourceSerifPro-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
<link rel="preload" href="/fonts/SourceSansPro-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">

<!--
  -- Add a reference to the favicon.ico.
  -- The file needs to be added in the "static" directory.
  -->
<link rel="icon" type="image/x-icon" href="/favicon.ico">

<!--
  -- Ensure the <meta name=description> tag is never empty since it is used
  -- in the SEO score.
  -->
<meta name="description" content="{{ partialCached "page-description.html" . .Permalink }}">

<!-- Add all the relevant RSS Feed URLs -->
{{ with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
{{ end }}

<!-- Tell IE to use the Edge engine -->
<meta name="X-UA-Compatible" content="IE=edge">

<!--
  -- The viewport is the user's visible area of a web page.
  -- The viewport varies with the device, and will be smaller on a mobile phone
  -- than on a computer screen.
  --
  -- This meta tag let web designers take control over the viewport.
  --
  -- The width property controls the size of the viewport. It can be set to
  -- the special value device-width, which is the width of the screen in CSS
  -- pixels at a scale of 100%.
  --
  -- The initial-scale=1.0 part sets the initial zoom level when the page
  -- is first loaded by the browser.
  -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{{ partial "opengraph.html" . }}
{{ partial "twitter_cards.html" . }}

<!-- The search page is the only one to require Javascript -->
{{ if eq .Type "search" }}
<!--
  -- Download and copy over fuse.js file from fusejs.io.
  -- I used the UMD build, minified, version 6.4.3
  -->
<script src="/js/fuse.js"></script>
{{ end }}

{{- if .Site.Params.enablePlausible -}}
<script defer data-domain="itix.fr" src="https://plausible.io/js/plausible.js"></script>
{{- end -}}

<!-- Deal with the case of english articles published in the french site -->
{{- partial "lang-detection.html" . -}}
{{- if .Store.Get "en_article_in_fr_site" -}}
<!--
  -- It's an english article published in the french site
  -- Tell Google not to index it and link to the original article.
  --
  -- See https://developers.google.com/search/docs/advanced/crawling/consolidate-duplicate-urls
  -->
{{- range first 1 .Translations }}
<link rel="canonical" href="{{ .Permalink }}">
{{- end }}
<meta name="robots" content="noindex">
{{- else -}}
<!--
  -- Otherwise, link to the available translations, if any (including the
  -- current page, as recommended by Google).
  --
  -- See https://developers.google.com/search/docs/specialty/international/localized-versions
  -->
{{- with partial "real-translations.html" . -}}
{{- range . | append $ }}
<link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.Label }}">
{{- end -}}
{{- end -}}
{{- end -}}

<!--
  -- Structured Data can be tested using the Google Search Console.
  -- https://search.google.com/test/rich-results
  -->
{{- $structuredData := dict -}}
{{- $description := partialCached "page-description.html" . .Permalink -}}
{{- if .IsHome -}}
  {{- $structuredData = dict "@context" "https://schema.org" "@type" "WebSite" "name" .Site.Title "url" .Permalink "description" $description "inLanguage" .Language.Lang -}}
{{- else if and .IsPage (in (slice "blog" "speaking" "writing") .Section) -}}
  {{- $author := dict "@type" "Person" "name" site.Params.author.name "url" site.Params.author.url -}}
  {{- $structuredData = dict "@context" "https://schema.org" "@type" (cond (eq .Section "blog") "BlogPosting" "Article") "headline" .Title "description" $description "author" $author "articleSection" .Section -}}
  {{- with (partialCached "social-image.html" . .Permalink).image -}}
    {{- $structuredData = merge $structuredData (dict "image" (slice .Permalink)) -}}
  {{- end -}}
  {{- if .Store.Get "en_article_in_fr_site" -}}
    {{- $structuredData = merge $structuredData (dict "inLanguage" "en") -}}
    {{- range first 1 .Translations -}}
      {{- $structuredData = merge $structuredData (dict "mainEntityOfPage" (dict "@type" "WebPage" "@id" .Permalink)) -}}
    {{- end -}}
  {{- else -}}
    {{- $structuredData = merge $structuredData (dict "inLanguage" .Language.Lang "mainEntityOfPage" (dict "@type" "WebPage" "@id" .Permalink)) -}}
  {{- end -}}
  {{- if not .PublishDate.IsZero -}}
    {{- $structuredData = merge $structuredData (dict "datePublished" .PublishDate) -}}
  {{- end -}}
  {{- if and (not .Lastmod.IsZero) (ne .Lastmod .PublishDate) -}}
    {{- $structuredData = merge $structuredData (dict "dateModified" .Lastmod) -}}
  {{- end -}}
{{- end -}}
{{- with $structuredData }}
<script type="application/ld+json">
{{- . | jsonify | safeJS -}}
</script>
{{- end }}

</head>
